<div class="container-fluid g-0">
    <app-header></app-header>

    <main>
        <div class="toolbar">
            <div class="add-employee">
                <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
                  data-bs-target="#exampleModal" #addEmployeeButton>Add Employee</button>
              </div>
              <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search Employees">
              </div>
              
        </div>

        <div class="employees">
            <div class="col text-center">
                <span class="text-secondary fs-2 fw-bold fst-italic">There are No Employees Added!</span>
              </div>
              <app-employee></app-employee>
        </div>
    </main>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="col">
                <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last Name">
            </div>

            <div class="row mt-5">
                <div class="col form-heading">
                  <h6 class="text-secondary fst-italic">Personal Information</h6>
                </div>
              </div>
              <div  class="row">
                <div class="col">
                    <label for="datepicker" class="form-label">Birthdate</label>
              <input type="date" class="form-control" id="datepicker" formControlName="birthday">
                </div>
                <div class="col">
                    <div class="row">
                        <h6 class="text-secondary">Gender</h6>
                      </div>
                      <div class="row">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="m"
                                  formControlName="gender">
                                <label class="form-check-label" for="male">Male</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="female" value="f"
                                  formControlName="gender">
                                <label class="form-check-label" for="female">Female</label>
                              </div>
                        </div>
                      </div>
                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
         
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>